/* match.module.css */

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background: #333;
  border-radius: 10px;
}

.heading1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.cardContainer, .deckContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #444;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 30%; /* 3 cartes par ligne (30% de largeur pour chaque carte) */
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h4 {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 10px;
}

.card p {
  color: #ccc;
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.deckContainer {
  margin-top: 20px;
}

.button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #218838;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.validationMessage {
  color: green;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 15px;
}

.deckHeader {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.cardInfo {
  font-size: 1rem;
  color: #ccc;
}

.cardInfo span {
  font-weight: bold;
}

.matchInfo {
  text-align: center;
  margin-top: 30px;
}

.matchInfo p {
  color: #fff;
  font-size: 1.2rem;
}

.matchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
